<h1>HELLO YOU ARE IN THE DASHBOARD</h1>
{{#if user}}
    {{#user}}
        <p>{{username}}</p>
        <img class="profile_img" src="{{imageUrl}}" alt="{{imageName}}">
    {{/user}}
{{/if}}

{{#with user}}
    {{#if_eq status "waiting"}}
    <p>Complete your registration:</p>
    <form  class="signup_form" action="/register" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="address" name="address">
        <input type="text" placeholder="state" name="state">
        <input type="file" placeholder="File" name="file"/>
        <input type="submit"/>
    </form>
    {{/if_eq}}
{{/with}}


<a href="/dashboard/new-case">CREATE NEW CASE</a>
<a href="/logout">LOGOUT</a>


