<form class="new_case_form" action="" enctype="multipart/form-data">
    <input type="text" name="title">
    <textarea type="text" name="description">
    <input type="text" name="address">
    <input type="file" name="image">
</form>