
<main>

<form class="new_case_form" action="/dashboard/new-case" method="POST" enctype="multipart/form-data">
    <input placeholder="title" type="text" name="title">
    <textarea placeholder="description" type="text" name="description"></textarea>
    <input placeholder="address" type="text" name="address">
    <input type="file" name="file">
    <input type="submit" value="save">
</form>

<a href="/dashboard">Back to dashboard</a>
</main>