
{{!-- Home's first section --}}
<main class="main_home about">

    {{!-- Nav --}}
    <nav class="main_nav">

        <img class="logo" src="/images/logo.png" alt="logo">

        <div class="btn_container">
            <div class="signup_container">
                <button class="signup_btn">CADASTRE-SE</button>
                <form class="signup_form" action="/signup" method="POST" enctype="multipart/form-data">
                    <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                    <input type="text" placeholder="Nome" name="username" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <input type="password" placeholder="Senha" name="password" required>
                    <input type="submit" value="CADASTRAR" />
                    <div class="social_login_box">
                        <a href="/auth/google">
                            <div>or</div>
                            <img src="/images/google_logo.svg" alt="google logo">
                            <p>
                                Entrar com <span>Google</span>
                            </p>
                        </a>
                    </div>
                </form>
            </div>
            <div class="login_container">
                <button class="login_btn">ENTRE</button>
                <form class="login_form" action="/login" method="POST">
                    <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                    <input type="text" placeholder="Email" name="username" required>
                    <input type="password" placeholder="Senha" name="password" required>
                    <input type="submit" value="ENTRAR" />
                    <div class="social_login_box">
                        <a href="/auth/google">
                            <div>or</div>
                            <img src="/images/google_logo.svg" alt="google logo">
                            <p>
                                Entrar com <span>Google</span>
                            </p>
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </nav>

    {{#if error}}
        {{#each error}}
            <div class="login_error animated fadeInDown">{{this}}</div>
        {{/each}}
    {{/if}}
    {{#if success}}
        {{#each success}}
            <div class="signup_success animated fadeInDown">{{this}}</div>
        {{/each}}
    {{/if}}
    
    <div class="about_container">
        <div>
        <h1 class="about_title">Sobre</h1>
        <p class="about_text">A pandemia de Covid-19 e o distanciamento social mudaram a forma como nós vivemos.</p>
        <p class="about_text">Apesar disso a crise reacendeu um senso de comunidade que estava parcialmente perdido.</p>
        <p class="about_text">Cenas de pessoas se confraternizando nas sacadas dos prédios passaram a ser cada vez mais comuns ao redor do mundo, simbolizando a união das comunidades nesse momento de crise.</p>
        <p class="about_text">Porque não usar esse espaço para ajudar as pessoas da nossa comunidade?</p>
        <p class="about_text">Diante disso, decidimos criar a Sacado do Prédio.</p>
        </div>
    </div>
</main>

{{!-- Cases presentation section --}}
<section class="cases_presentation">
    <div class="about_container">
        <h1 class="about_title">O que é?</h1>
        <p class="about_text">O Sacada do Prédio é uma plataforma que tem como objetivo conectar pessoas que estejam passando por algum tipo de dificuldade com pessoas que estão dispostas a ajudar.</p>
        <p class="about_text">Visitando a plataforma os usuários podem facilmente visualizar as necessidades da sua região e postar os seus próprios casos.</p>
        <a class="ajude_btn" href="/dashboard/public">
                Ver casos
        </a>
    </div>
</section>

{{!-- Team presentation section --}}
<div class="red_section">
    <div class="about_container">
        <h1 class="about_title">Como funciona?</h1>

        <p class="about_text">Complete o seu registro para ver os casos registrados na sua região. Você poderá ver os casos no mapa ou nos cards abaixo dele.</p>
        
        <p class="about_text">Ao clicar num caso você terá acesso a todas as informações sobre ele, bem como às informações de contato do usuário que o registrou.</p>

        <p class="about_text">Poste um novo caso para comunicar os usuários daquela região sobre a sua necessidade ou campanha.</p>

        <p class="about_text">Receba notificações por email quando um novo caso for registrado na sua região para que você possa ajudar.</p>

        <a class="ajude_btn" href="/">
                Voltar
        </a>

    </div>
    
    <div class="credits_box">
        <h2>Designed & Developed by:</h2>
        <p class="devs">Daniel Paiva & Rafael Freitas</p>
        <h2>Artwork by:</h2>
        <p class="devs"><a target="_blank" href="https://www.linkedin.com/in/fernandamarsuradias/">Fernanda Dias</a></p>
    </div>
</div>

{{!-- Home Scripts --}}
<script src="javascripts/home.js"></script>