
<main>
<nav class="main_nav">

    <img src="/images/logo.png" alt="logo">



        

    
    <div class="btn_container">
        <div class="signup_container">
            <button class="signup_btn">SIGNUP</button>
            <form  class="signup_form" action="/signup" method="POST" enctype="multipart/form-data">
                <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                <input type="text" placeholder="Name" name="username" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <input type="submit"/>
            </form>
        </div>
        <div class="login_container">
            <button class="login_btn">LOGIN</button>
            <form  class="login_form" action="/login" method="POST">
                <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                <input type="text" placeholder="Name" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <input type="submit"/>
            </form>
        </div>
    </div>
</nav>
<img src="/images/sacada.png" alt="sacada ilustration">
</main>
<section class="cases_presentation"></section>
<script src="javascripts/home.js"></script>