
{{!-- Home's first section --}}
<main class="main_home">

    {{!-- Nav --}}
    <nav class="main_nav">

        <img class="logo" src="/images/logo.png" alt="logo">

        <div class="btn_container">
            <div class="signup_container">
                <button class="signup_btn">CADASTRE-SE</button>
                <form class="signup_form" action="/signup" method="POST" enctype="multipart/form-data">
                    <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                    <input type="text" placeholder="Nome" name="username" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <input type="password" placeholder="Senha" name="password" required>
                    <input type="submit" value="CADASTRAR" />
                    <div class="social_login_box">
                        <a href="/auth/google">
                            <div>or</div>
                            <img src="/images/google_logo.svg" alt="google logo">
                            <p>
                                Entrar com <span>Google</span>
                            </p>
                        </a>
                    </div>
                </form>
            </div>
            <div class="login_container">
                <button class="login_btn">ENTRE</button>
                <form class="login_form" action="/login" method="POST">
                    <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                    <input type="text" placeholder="Email" name="username" required>
                    <input type="password" placeholder="Senha" name="password" required>
                    <input type="submit" value="ENTRAR" />
                    <div class="social_login_box">
                        <a href="/auth/google">
                            <div>or</div>
                            <img src="/images/google_logo.svg" alt="google logo">
                            <p>
                                Entrar com <span>Google</span>
                            </p>
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </nav>

    {{#if error}}
        {{#each error}}
            <div class="login_error animated fadeInDown">{{this}}</div>
        {{/each}}
    {{/if}}
    {{#if success}}
        {{#each success}}
            <div class="signup_success animated fadeInDown">{{this}}</div>
        {{/each}}
    {{/if}}
    
    <div class="home_content_container">
        <div class="main_text_content">
            <h1 class="title">Ajude pessoas da sua comunidade</h1>
            <p class="subtitle">O que você pode ver da sua sacada?</p>
            <a class="ajude_btn" href="/about">
                Saiba mais
            </a>
        </div>
        
        
        <img class="ilustration" src="/images/sacada.png" alt="sacada ilustration">
    </div>
</main>

{{!-- Cases presentation section --}}
<section class="cases_presentation">
    <div class="cases_img_container">
        <img src="/images/sacada_close.png" alt="close das sacadas">
    </div>
    <div class="cases_presentation_content">
        <h1>Já pensou em ajudar alguém hoje?</h1>
        <p>Da sacada podemos confraternizar com vizinhos, amigos e familiares, mas também conseguimos ver as necessidades da nossa comunidade.</p>
        <a class="ajude_btn" href="/dashboard/public">
            Ajude
        </a>
    </div>
</section>

{{!-- Team presentation section --}}
<section class="team_presentation">
    <h1 class="team_header">Quem Somos</h1>
    <div class="daniel">
        <div class="team_img"><img src="/images/daniel.png" alt="IMAGE"></div>
        <div class="team_about">
            <h2>Daniel Paiva</h2>
            <p>Desenvolvedor Full Stack</p>
            <div class="social_media">
                <a target="_blank" href="https://github.com/danielcspaiva"><img class="socialmedia_img"
                        src="/images/github_white.png" alt=""></a>
                <a target="_blank" href="https://www.linkedin.com/in/danielcspaiva/"><img class="socialmedia_img"
                        src="/images/linkedin_white.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="rafael">
        <div class="team_img"><img src="/images/rafael.png" alt="IMAGE"></div>
        <div class="team_about">
            <h2>Rafael Freitas</h2>
            <p>Desenvolvedor Full Stack</p>
            <div class="social_media">
                <a target="_blank" href="https://github.com/rafaelbogfreitas/"><img class="socialmedia_img"
                        src="/images/github_white.png" alt=""></a>
                <a target="_blank" href="https://www.linkedin.com/in/rafaelborgesfreitas/"><img class="socialmedia_img"
                        src="/images/linkedin_white.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="credits_box">
        <h2>Designed & Developed by:</h2>
        <p class="devs">Daniel Paiva & Rafael Freitas</p>
        <h2>Artwork by:</h2>
        <p class="devs"><a target="_blank" href="https://www.linkedin.com/in/fernandamarsuradias/">Fernanda Dias</a></p>
    </div>
</section>

{{!-- Home Scripts --}}
<script src="javascripts/home.js"></script>