
<main class="main_home">
    <nav class="main_nav">

        <img src="/images/logo.png" alt="logo">

        <div class="btn_container">
            <div class="signup_container">
                <button class="signup_btn">SIGNUP</button>
                <form  class="signup_form" action="/signup" method="POST" enctype="multipart/form-data">
                    <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                    <input type="text" placeholder="Name" name="username" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <input type="password" placeholder="Password" name="password" required>
                    <input type="submit" value="SIGNUP"/>
                </form>
            </div>
            <div class="login_container">
                <button class="login_btn">LOGIN</button>
                <form  class="login_form" action="/login" method="POST">
                    <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                    <input type="text" placeholder="Name" name="username" required>
                    <input type="password" placeholder="Password" name="password" required>
                    <input type="submit" value="LOGIN"/>
                </form>
            </div>
        </div>

    </nav>
    <div class="home_content_container">
            <h1 class="subtitle">DASDASDDSDASDSA</h1>
            <h3></h3>
        <img class="ilustration" src="/images/sacada.png" alt="sacada ilustration">
    </div>
</main>
<section class="cases_presentation">
    <a  class="ajude_btn" href="/dashboard">
        AJUDE
    </a>
</section>
<section class="team_presentation">
    <div class="credits_box">
        <h2>Designed & Developed by:</h2>
        <p class="devs">Daniel Paiva & Rafael Freitas</p>
        <h2>Artwork by:</h2>
        <p class="devs">Fenanda Dias</p>
    </div>
</section>
<script src="javascripts/home.js"></script>