<nav class="main_nav">

    <h1>Hello SACADA</h1>


    <form  class="signup_form" action="/signup" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="Name" name="username" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        {{!-- <input type="text" placeholder="address" name="address">
        <input type="text" placeholder="state" name="state">
        <input type="file" placeholder="File" name="file"/> --}}
        <input type="submit"/>
    </form>

    {{!-- <button class="signup_btn">SIGNUP</button> --}}

    <form  class="signup_form" action="/login" method="POST">
        <input type="text" placeholder="Name" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="submit"/>
    </form>

    {{!-- <button class="signup_btn">LOGIN</button> --}}
</nav>
<script src="javascripts/home.js"></script>