<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> --}}
    <title>Sacada do Prédio</title>
</head>
<body>
    {{!-- <input type="text" id="search"/>
    <div class="container">
    </div> --}}
    {{{body}}}
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="javascripts/script.js"></script> --}}
</body>
</html>