/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.leave_screen {
  transform: translateX(-400px);
  transition: transform 0.5s ease-in-out; }

.open_down {
  height: 100px !important;
  transition: height 0.3s ease-in-out; }

* {
  font-family: Nevermind, Helvetica, sans-serif; }

main {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f9; }

button {
  cursor: pointer;
  background: linear-gradient(20deg, #ffc40089 50%, white 50%); }
  button:hover {
    font-weight: bold;
    background: linear-gradient(340deg, #ffc40089 50%, white 50%); }

.profile_img {
  width: 200px;
  height: 200px; }

.main_nav {
  display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  -webkit-display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center; }
  .main_nav form {
    display: flex;
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    border: 1px solid #e28a8a; }
  .main_nav .signup_btn {
    margin: 10px;
    padding: 10px 20px;
    color: #ff4242;
    border: 1px solid #ff4242; }

.dashboard {
  position: relative;
  width: 400px;
  height: 100vh;
  background-color: #b3bbbe;
  box-shadow: 2px 0 5px 0 #b3bbbe;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out; }
  .dashboard .close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px; }
    .dashboard .close_icon:hover {
      cursor: pointer; }

.dashboard_nav {
  width: 100vw;
  height: 70px;
  padding: 0 20px;
  background-color: white;
  display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  -webkit-display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center; }
  .dashboard_nav .profile_info {
    position: relative;
    width: auto;
    height: 80%;
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out;
    display: flex;
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center; }
    .dashboard_nav .profile_info:hover {
      cursor: pointer;
      border: 1px solid #ecec7b;
      transition: border 0.2s ease-in-out; }
    .dashboard_nav .profile_info .user_name {
      margin-right: 20px; }
      .dashboard_nav .profile_info .user_name p {
        text-transform: uppercase; }
    .dashboard_nav .profile_info .user_img_container {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 100%;
      border: 2px solid #ecec7b; }
    .dashboard_nav .profile_info .profile_options_box {
      outline: 1px solid red;
      position: absolute;
      top: 120%;
      right: 0;
      width: 140%;
      height: 0px;
      overflow: hidden;
      transition: height 0.3s ease-in-out; }
  .dashboard_nav img {
    height: 80%; }
  .dashboard_nav .dashboard_icon {
    width: 50px;
    height: 50%; }
    .dashboard_nav .dashboard_icon:hover {
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */