/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.leave_screen {
  transform: translateX(-400px);
  transition: transform 0.5s ease-in-out; }

.open_down {
  transform: scaleY(1);
  transition: transform 0.3s ease-in-out; }

.no_shadow {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.193) !important;
  transition: box-shadow 0.3s ease-in-out; }

.increase_height {
  height: 100px;
  transition: height 0.3s ease-in-out; }

* {
  font-family: Nevermind, Helvetica, sans-serif; }

main {
  width: 100vw;
  display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  -webkit-display: flex;
  align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center; }

a {
  text-decoration: none; }

button {
  cursor: pointer;
  background: linear-gradient(20deg, #ffc40089 50%, white 50%); }
  button:hover {
    font-weight: bold;
    background: linear-gradient(340deg, #ffc40089 50%, white 50%); }

.profile_img {
  width: 200px;
  height: 200px; }

.main_nav {
  display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  -webkit-display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center; }
  .main_nav form {
    display: flex;
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    border: 1px solid #e28a8a; }
  .main_nav .signup_btn {
    margin: 10px;
    padding: 10px 20px;
    color: #ff4242;
    border: 1px solid #ff4242; }

.dashboard {
  position: relative;
  display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  width: 400px;
  height: 100vh;
  background-color: #f8f8f9;
  box-shadow: 2px 0 5px 0 #b3bbbe;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out; }
  .dashboard .cases_title_container {
    width: 100%;
    margin-top: 50px;
    padding-left: 20px;
    display: flex;
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center; }
    .dashboard .cases_title_container h1 {
      color: #5d1711;
      font-size: 25px;
      font-weight: bold; }
    .dashboard .cases_title_container .arrow {
      width: 20px;
      transform: rotate(-90deg);
      transition: transform 0.3s linear; }
    .dashboard .cases_title_container > * {
      margin: 0 10px; }
  .dashboard .user_cases_container {
    width: 100%;
    height: auto;
    transform: scaleY(0);
    transition: transform 0.3s linear;
    padding: 10px 20px;
    overflow: hidden;
    display: flex;
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center; }
  .dashboard .close_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: auto; }
    .dashboard .close_icon:hover {
      cursor: pointer; }
  .dashboard .case_container {
    margin-top: 20px;
    width: 95%;
    height: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 black; }

.dashboard_nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 70px;
  padding: 0 20px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #00000091;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  -webkit-display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center; }

.profile_info {
  position: relative;
  width: auto;
  height: 80%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.283);
  transition: box-shadow 0.5s ease-in-out;
  display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  -webkit-display: flex;
  align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center; }
  .profile_info:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.159);
    transition: box-shadow 0.5s ease-in-out; }
  .profile_info .user_name {
    margin-right: 20px; }
    .profile_info .user_name p {
      text-transform: uppercase; }
  .profile_info .user_img_container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid #ecec7b; }
  .profile_info .profile_options_box {
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 #00000091;
    position: absolute;
    top: 120%;
    right: 0;
    width: 140%;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-in-out; }

img {
  height: 80%; }

.dashboard_icon {
  width: 50px;
  height: 50%; }
  .dashboard_icon:hover {
    cursor: pointer; }

.cards_container {
  width: 90%;
  height: 90%;
  margin: 100px 0; }
  @supports (display: grid) {
    .cards_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px; } }

.case_card {
  width: 100%;
  height: 300px;
  padding: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.193);
  transition: box-shadow 0.3s ease-in-out; }
  .case_card:hover {
    cursor: pointer;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.193);
    transition: box-shadow 0.3s ease-in-out; }
  .case_card h1 {
    color: #5d1711;
    font-weight: bold; }
  .case_card p {
    color: #b3bbbe; }

/*# sourceMappingURL=style.css.map */