.leave_screen {
    transform: translateX(-400px);
    transition: transform 0.5s ease-in-out;
}

.open_down {
    height:80vh !important;
    transition: height 0.3s ease-in-out;
}

.no_shadow {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.193) !important;
    transition: box-shadow 0.3s ease-in-out;
}

.increase_height {
    height: 100px !important;
    transition: height 0.3s ease-in-out ;
}

.increase_width {
    width: 300px !important;
    transition: height 0.1s ease-in-out ;
}

.translateY {
    transform: translateY(0) !important;
    transition: transform 0.3s ease-in-out;
}


//jumping arrow
@keyframes jump {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(5px);
        opacity: 0.5;
    }
}

.jump {
    animation: jump 0.8s linear infinite alternate;
}