.leave_screen {
    transform: translateX(-400px);
    transition: transform 0.5s ease-in-out;
}

.open_down {
    transform: scaleY(1);
    transition: transform 0.3s ease-in-out;
}

.no_shadow {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.193) !important;
    transition: box-shadow 0.3s ease-in-out;
}

.increase_height {
    height: 100px;
    transition: height 0.3s ease-in-out;
}