.cards_container {
    width: 90%;
    height: 90%;
    margin: 100px 0;

    @supports(display: grid){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:20px;
    };

}

.case_card {
    width: 100%;
    height: 300px;
    padding:20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.193);
    transition: box-shadow 0.3s ease-in-out;
    
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.193);
        transition: box-shadow 0.3s ease-in-out;
    }

    h1 {
        color: $dark_red;
        font-weight: bold;
    }

    p {
        color: $light_gray;
    }
}