//Dashboar aside section where all user controllers are
.dashboard {
    position: relative;

    width: 400px;
    height: 100vh;
    background-color: $light_gray;
    box-shadow: 2px 0 5px 0 $light_gray;

    //remove it from screen
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;

    .close_icon {
        position: absolute;
        top: 20px;
        right: 20px;

        width: 40px;

        &:hover {
            cursor: pointer;
        }
    }
}


.dashboard_nav {
    width: 100vw;
    height: 70px;
    padding: 0 20px;
    background-color: white;

    @include flexbox(display, flex);
    @include flexbox(justify-content, space-between);
    @include flexbox(align-items, center);
    

    //info about profile box (name, pic)
    .profile_info {
        position: relative;

        width: auto;
        height: 80%;
        
        border: 1px solid transparent;
        transition: border 0.2s ease-in-out;
        
        @include flexbox(display, flex);
        @include flexbox(align-items, center);

        &:hover {
            cursor: pointer;
            border: 1px solid $lemon_yellow;
            transition: border 0.2s ease-in-out;
        }

        .user_name {
            margin-right: 20px;
            p {
                text-transform: uppercase;
            }
        }

        .user_img_container {
            width: 50px;
            height: 50px;
            overflow: hidden;
            
            border-radius: 100%;
            border: 2px solid $lemon_yellow;
        }

        //popup profile options box
        .profile_options_box {
            //for visualization
            outline: 1px solid red;

            position: absolute;
            top:120%;
            right: 0;
            width: 140%;
            height: 0px;
            overflow: hidden;
            transition: height 0.3s ease-in-out;
        }
 
    }

    //profile image
    img {
        height: 80%;
    }

    //Borguer icon
    .dashboard_icon {
        width: 50px;
        height: 50%;

        &:hover{
            cursor: pointer;
        }
    }


}