//Dashboar aside section where all user controllers are
.dashboard {
    position: relative;

    width: 400px;
    height: 100vh;
    background-color: $light_gray;
    box-shadow: 2px 0 5px 0 $light_gray;

    //remove it from screen
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;

    .close_icon {
        position: absolute;
        top: 20px;
        right: 20px;

        width: 40px;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }
}


.dashboard_nav {
    width: 100vw;
    height: 70px;
    padding: 0 20px;
    background-color: white;

    @include flexbox(display, flex);
    @include flexbox(justify-content, space-between);
    @include flexbox(align-items, center);
    

    //info about profile box (name, pic)
    


}