.edit_user_header {
    text-align: center !important;
    margin-bottom: 0 !important;
}


.padding_vertical {
    @include mediaquery(600px){
        padding: 50px 0;
    }
}

.edit_profile {
    .img_container {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        overflow: hidden;
        @extend .box-shadow;
        margin-right: 20px;

        @include flexbox(align-self, flex-start);
    }
    img {
        width: 100%;
    };

    form {
        width: 80%;
    }
    width: 80%;
    @extend .center;

    @include mediaquery(600px){
        @include flexbox(flex-direction, column);
        .img_container {
            width: 100px;
            height: 100px;
            margin: 20px auto;
        }

    }
}

.botoes_edit_user {
    width: 100%;

    @include flexbox(display, flex);
    @include flexbox(flex-wrap, wrap);
    @include flexbox(flex-direction, row-reverse);
    @include flexbox(justify-content, space-between);

    .btn {
        width: 49%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .--delete {
        width: 100%;
    }
}