img {
    width: 100px;
}
.main_nav {
    @include flexbox(display, flex);
    @include flexbox(justify-content, space-between);
    @include flexbox(align-items, center);

    
    form {
        @include flexbox(display, flex);
        @include flexbox(flex-direction, column);
        border: 1px solid rgb(226, 138, 138);
        
        
        // position: absolute;
        // right: 10px;
        // top: 50px;
        // // display: none;
    }
    
    
    .signup_btn {
        margin: 10px;
        padding: 10px 20px;
        color:  rgb(255, 66, 66);
        border: 1px solid rgb(255, 66, 66);
    }
}

