.main_home {
    position: relative;
    overflow: hidden;

    @include flexbox(justify-content, flex-start);

    background-image: url('/images/bgcircle.svg');
    
    background-attachment: fixed;
    background-position-y: 15%;
    background-position-x: 70%;
    background-repeat: no-repeat;

    &:after {
        content: '';
        position: absolute;
        left: -50px;
        right: 100px;
        top: 100%;
        height: 200px;
        transform: rotate(10deg);
        background-color: lighten($orange, 25%);
        box-shadow: 0px 0px 38px -11px rgba(0,0,0,0.35);
    }

}

.main_nav {

    .logo {
        @include mediaquery(650px){
            height: 40px;
        }
    }

    .logo_wrapper {
        height: 60%;
    }
    
    form {
        @extend .center;
        @include flexbox(flex-direction, column);
    }

    .close_form {
        cursor: pointer;
        position: absolute;
        top:10px;
        left:10px;
        width: 20px;
        height: auto;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.2s linear;
        }
    }

    .signup_form, .login_form {
        position: absolute;
        top:100%;
        right: 30px;

        width: 0;
        height: 300px;
        padding-top: 50px;
        overflow: hidden;
        background-color: #fff;
        transition: width 0.3s linear;
        @extend .box-shadow;
        
        input {
            width: 80%;
            height: 40px;
            font-size: 1.1rem;
            color: $x_light_gray;
            padding-left: 20px;
            margin-bottom: 20px;
        }

        input[type="submit"]{
            width: auto;
            padding-left: 0;
            cursor: pointer;
            margin-bottom: 0;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s linear;
            }
        }
    }
    
    
    .signup_btn, .login_btn {
        margin: 10px;
        padding: 10px 20px;
        background-color: #fff;
        color:  $red;
        border: 1px solid $red;

        &:hover {
            @extend .box-shadow;
        }
    }

    .signup_btn {
        color:  $orange;
        border: 1px solid $orange;
    }

    .signup_form {
        input {
            border: 1px solid $orange;
        }
        input[type="submit"]{
            background-color: #fff;
            color:  $orange;
        }
        color: $orange;
    }

    .login_form {
        input {
            border: 1px solid $red;
        }
        input[type="submit"]{
            background-color: #fff;
            color:  $red;
        }
        color: $red;

        .social_login_box {
            position: relative;
            width: 90%;
            margin-top: 20px;
            padding-top: 10px;
            
            border-top:0.5px solid $x_light_gray;   
            
            a {
                width: 100%;
                height: 100%;
                padding:10px;


                overflow: hidden;
           
                @extend .center;

                img {
                    width: 30px;
                    margin-right: 20px;
                }

                span {
                    font-weight: bold;
                }
    
                & > div {
                    position: absolute;
                    top:-8px;
                    display: block;
                    padding:0 5px;
                    background-color: #fff;
                    color: $x_light_gray;
                }

                &:hover {
                    @extend .box-shadow;
                }
            }
        }
    }
}
.home_content_container {
    background-color: white;
}

.main_text_content {
    width: 50%;

    @include mediaquery(800px){
        width: 100%;
        height: 30%;
        margin-top: 100px;
    }
}

.title {
    font-weight: bold;
    width: 100%;
    padding-left: 50px;
    margin-bottom: 50px;
    font-size: 4rem;
    color: $orange;

    @include mediaquery(650px){
        padding-left: 20px;
        margin-bottom: 20px;
        font-size: 3rem;
    }
}

.subtitle {
    font-weight: bold;
    width: 100%;
    padding-left: 50px;
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: $red;

    @include mediaquery(650px){
        padding-left: 20px;
        margin-bottom: 20px;
        font-size: 1.6rem;
    }
}

section {
    width: 100vw;
    height: auto;
    min-height: 100vh;
}

.cases_presentation {
    position: relative;
    overflow: hidden;
    padding-right: 50px;

    @extend .center;

    background-color:lighten($orange, 25%);

    @include mediaquery(650px){
        min-height: auto;
        @include flexbox(flex-direction, column-reverse);
        @include flexbox(justify-content, space-between);
        padding: 0;
    }

    &:after {
        content: '';
        position: absolute;
        right: -50px;
        left: 100px;
        top: 100%;
        height: 200px;
        transform: rotate(-10deg);
        // background-color: $x_light_gray;
        // background-color:lighten($orange, 25%);
        background-color:lighten($red, 25%);
        box-shadow: 0px 0px 38px -11px rgba(0,0,0,0.35);
    }

    .cases_img_container {
        width: 55%;
        height: 100%;

        @include flexbox(display, flex);
        @include flexbox(justify-content, flex-start);
        @include flexbox(align-items, flex-end);

        @extend .no_opacity;

        img {
            width: 100%;
            height: auto;
        }

        @include mediaquery(650px){
            width: 100%;
            height: auto;

            img {
                width: 60%;
            }
        }
    }

    .cases_presentation_content {
        width: 75%;
        height: 70%;
        color: white;
        

        @include flexbox(display, flex);
        @include flexbox(flex-direction, column);
        @include flexbox(justify-content,space-around);
        @include flexbox(align-items,flex-start);

        @include mediaquery(650px){
            width: 100%;
            height: auto;
            min-height: fit-content;
        }

        h1 {
            font-weight: bold;
            font-size: 4rem;
            margin: 0 50px;
            text-shadow: 0px 0px 30px rgba(0,0,0,0.05);
            
            @extend .no_opacity;

            @include mediaquery(650px){
                font-size: 3rem;
                margin: 20px 20px;
            }
        }

        p {
            line-height: 1.3em;
            margin: 100px 50px;
            font-size: 2.5rem;
            text-shadow: 0px 0px 30px rgba(0,0,0,0.05);

            @include mediaquery(650px){
                font-size: 1.3rem;
                margin: 20px;
            }
        }
    }

    .ajude_btn {
        margin: 0 auto;
        margin-bottom: 100px;
        padding: 20px 40px;
        font-size: 1.5rem;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        transition: box-shadow 0.3s linear;

        @include mediaquery(650px){
            width: 90%;
            padding: 10px 0px;
            margin-bottom: 0;
            text-align: center;
        }

        &:hover {
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.522);
            transition: box-shadow 0.3s linear;
        }
    }
}

.team_presentation {
    position: relative;
    overflow: hidden;
    background-color:lighten($red, 25%);

    @include flexbox(display, flex);
    @include flexbox(flex-wrap, wrap);
    @include flexbox(justify-content, center);
    padding-bottom: 50px;
    color: white;

    @include mediaquery(500px){
        @include flexbox(flex-direction, column);
        @include flexbox(align-items, center);
        @include flexbox(justify-content, center);
    }

    .team_header {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 4rem;
        font-weight: bold;
        @include flexbox(align-self, flex-end);

        @extend .no_opacity;

        @include mediaquery(650px){
            font-size: 3rem;
        }
    }

    .daniel, .rafael {
        width: 40%;
        margin: 20px 0;
        @extend .center;
        @include flexbox(flex-direction, column);
        

        h2 {
            font-weight: bold;
            font-size: 1.6rem;
        }

        p {
            font-size: 1.2rem;
            padding: 40px 0;
            width: 60%;
            margin: 0!important;
        }
        @include mediaquery(650px){
            width: 90%;

            h2, p {
                font-size: 1.3rem;
            }
        }
    }

    .team_about {
        @include flexbox(display, flex);
        @include flexbox(flex-direction, column);
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        width: 100%;
        padding: 40px 0;

        opacity: 0;
    }

    .team_img {

        @extend .center;

        width: 200px;
        height: 200px;
        opacity: 0;
        border-radius: 100%;
        overflow: hidden;
        border: 5px solid white;

        @include mediaquery(650px){
            width: 150px;
            height: 150px;
        }
    }

    .socialmedia_img {
        width: 30px;
        height: 30px;
    }

    .social_media {
        width: 20%;
        @include flexbox(display, flex);
        @include flexbox(justify-content, space-around);

        @include mediaquery(650px){
            width: 50%;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: -300px;
        right: 0;
        top: 90%;
        height: 300px;
        transform: rotate(5deg);
        background-color: white;
    }
    
    .credits_box {
        @include flexbox(display, flex);
        position: absolute;
        bottom :20px;
        left: 0;
        z-index: 2;
        margin-left: 50px;
        margin-bottom: 10px;

        h2 {
            margin-bottom: 10px;
            margin-left: 10px;
            font-weight: bold;
            color: $orange;
        }

        .devs {
            color: $light_gray;
            margin-left: 10px;
        }

        @include mediaquery(650px){
            margin-left: 20px;
            bottom: 0;
            @include flexbox(flex-direction, column);

            h2 {
                margin-bottom: 0;
            }

            p {
                margin-bottom: 5px;
            }
        }
    }

}

.btn_container {
    @include flexbox(display, flex)
}

// .ilustration {
//     position: absolute;
//     bottom: 0;
//     right: 0;
// }

.home_content_container{
    width: 100%;
    height: 100%;

    @include flexbox(display, flex);
    @include flexbox(align-items, center);

    @include mediaquery(800px){
        @include flexbox(flex-direction, column);
    }

    .ilustration {
        width: 50%;
        align-self: flex-end;
        
        @include mediaquery(800px){
            width: 100%;
            align-self: center;
        }
        height: auto;
    }

}