
html {
    font-family: $main_font;
}

main {
    width: 100vw;
    height: 100vh;
    // overflow: scroll;

    @include flexbox(display, flex);
    @include flexbox(align-items, center);
    @include flexbox(justify-content, center);


    // background-color: $x_light_gray;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

nav {
    position: fixed;
    padding: 0 20px;
    top: 0;
    left: 0;
}

.profile_img {
    width: 200px;
    height: 200px;
}

.center {
    @include flexbox(display, flex);
    @include flexbox(justify-content, center);
    @include flexbox(align-items, center);
}

.box-shadow {
    @include boxshadow(0px 0px 5px 0px rgba(0, 0, 0, 0.241));
}

