* {
    font-family: $main_font;
}

main {
    width: 100vw;
    height: 100vh;
    // overflow: scroll;

    @include flexbox(display, flex);
    @include flexbox(align-items, center);
    @include flexbox(justify-content, center);


    // background-color: $x_light_gray;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background:linear-gradient(20deg, #ffc40089 50%, white 50%);

    &:hover {
        font-weight: bold;
        background:linear-gradient(340deg, #ffc40089 50%, white 50%);
    }
}

nav {
    position: fixed;
    padding: 0 20px;
    top: 0;
    left: 0;
}

.profile_img {
    width: 200px;
    height: 200px;
}