.profile_info {
    position: relative;

    width: auto;
    height: 80%;
    padding: 20px;
    
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.283);
    transition: box-shadow 0.5s ease-in-out;
    
    @include flexbox(display, flex);
    @include flexbox(align-items, center);
    
    &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.159);
        transition: box-shadow 0.5s ease-in-out;
    }

    .user_name {
        margin-right: 20px;
        p {
            text-transform: uppercase;
        }
    }

    .user_img_container {
        width: 50px;
        height: 50px;
        overflow: hidden;

        @include flexbox(display, flex);
        @include flexbox(justify-content, center);
        @include flexbox(align-items, center);
        
        border-radius: 100%;
        border: 2px solid $lemon_yellow;
    }

    //popup profile options box
    .profile_options_box {
        
        background-color: #fff;
        box-shadow: 1px 1px 3px 0 #00000091;

        position: absolute;
        top:120%;
        right: 0;
        width: 140%;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease-in-out;

        @include flexbox(display, flex);
        @include flexbox(flex-direction, column);
        @include flexbox(justify-content, space-around);
        @include flexbox(align-items, center);

        a {
            margin-left: 10px;
            color: $orange;

            &:hover {
                transform:scale(1.1);
                transition:transform 0.3s linear;
            }
        }
    }

}

//profile image
img {
    height: 80%;
}

//Borguer icon
.dashboard_icon {
    width: 50px;
    height: 50%;

    &:hover{
        cursor: pointer;
    }
}