.registration_layer {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100vw;
    height: 100vh;
    background-color:rgba(lighten($x_light_gray, 15%), 0.5);

    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;

    @extend .center;

    .registration_container{
        position: relative;
        background-color: #fff;
    
        h1 {
            width: 50%;
        }

        form {
            width: 50%;
        }

        .close_register {
            position: absolute;
            top: 50px;
            right: 50px;
            width: 50px;
            height: auto;
        }

        @include mediaquery(650px){
            width:100%;
            height: 100%;
            padding: 20px;
            box-shadow: none;

            h1, form {
                width: 100%;
            }
        }
    }
}

.dashboard_nav {
    .register_btn {
        margin-left: auto;

        @include mediaquery(650px){
            display:none;
        }
    }
}

.dashboard {
    .register_btn {
        display:none;

        @include mediaquery(650px){
            display:block;
            margin: 20px auto;
        }
    }
}

.registration_reminder {
    // display: none;
    @extend .login_error;
    @include flexbox(justify-content, center);
    opacity: 1;
    padding: 5px 20px;

    span {
        cursor: pointer;
        margin-left: 5px;
        text-decoration: underline;
    }

    // @include mediaquery(650px){
    //     display: block;
    // }
}

.btn_box {
    width: 100%;
}

.register_save {
    @include mediaquery(650px){
        width:100%
    }
}

.autocomplete_box {
    width: 100%;
    position: relative;
}

.results_box {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #fff;

    @extend .box-shadow;

    p {
        width: 100%;
        margin: 5px;
        transition: font-weigh 0.3s linear;
        &:hover {
            cursor: pointer;
            font-weight: bold;

            transition: font-weigh 0.3s linear;
        }
    }
}