.single_case_card {
    position: relative;
    width: 60%;
    height: 90vh;
    overflow: scroll;
    
    @extend .box-shadow;

    @include mediaquery(600px){
        width: 100%;
        height: auto;
        padding: 10px;
        box-shadow: none;
        @include flexbox(align-self, flex-start)
    }

    .close_icon {

        position: absolute;
        top:3%;
        right:3%;
        z-index: 20;

        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        background-color: #fff;

        @include mediaquery(500px){
            width: 35px;
            height: 35px;
            position: absolute;
            top:5%;
            right:7%;
        }


        @extend .box-shadow;

        transition: transform 0.3s linear;

        img {
            width: 100%;
            height: auto;
        }

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s linear;
        }

    }

    img {
        width: 100%;
    }

    //user
    .user_info {

        .user_info_content {
            height: 60px;
            margin-bottom: 20px;
            position: relative;
            @include flexbox(display, flex);
            @include flexbox(align-items, flex-end);
            
            .contact {
                width: 20%;
                margin-left: 20px;
                @include flexbox(display, flex);
                @include flexbox(justify-content, flex-start);
            }
        }


        .case_img_container {
            // display: none;
            width: 100%;
            height: 300px;
            overflow: hidden;

            @include mediaquery(500px){
                height: 200px;
            }

            img {
                height: 100%;
                height: auto;
                // filter: opacity(0.4);
            }
        }


        .user_img_container {

            width: 150px;
            height: 150px;
            border-radius: 100%;
            overflow: hidden;

            margin:0 20px;
            @include boxshadow(0 0 5px 0 rgba(0, 0, 0, 0.835));
            @extend .center;

            @include mediaquery(950px){
                width: 100px;
                height: 100px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
        
        h1 {
            width: auto;
            color: $red;
            font-size: 2rem;
        }

        .contact {
            width: auto;
            margin-right: 10px;
            // @include flexbox(display, flex);
            // @include flexbox(justify-content, flex-end);

            @include mediaquery(500px){
                width:20%;
            }

            img {
                // width: 50px;
                height: 2rem;
                width: 2rem;
                // height: auto;
                margin-right: 1rem;

            }
        }
    }//user_info

    //Case
    .case_info {
        height: auto;
        padding: 20px;

        aside {
            padding: 20px 20px;

            @include mediaquery(400px){
                padding: 0;
            }

        }
        .manage_btns {
            margin: 20px auto;

            width: 100%;

            @include flexbox(display, flex);
            // @include flexbox(flex-direction, column);
            // @include flexbox(align-items, center);
            @include flexbox(justify-content, space-around);

            & > * {
                width: 30%;
                margin-top: 20px;
            }

            @include mediaquery(400px){
                @include flexbox(flex-direction, column);

                & > * {
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }

        h1 {
            font-size: 2.5rem;
            color: $red;
            font-weight: bolder;
            margin-bottom: 20px;
        }

        h2 {
            color: $red;
        }

        p {
            font-size: 1.2rem;
        }

        // a {
        //     margin-top: 30px;
        //     width: 50%;
        // }

        .description {
            margin-bottom: 20px;
            height: 40%;
            overflow: scroll;
        }

        @include mediaquery(500px){
            height: auto;
        }
    }
}