//Color palette

$orange:#ef7b5e;
$red:#a1363f;
$dark_red:#5d1711;
$lemon_yellow:#ecec7b;
$light_gray:#b3bbbe;
$x_light_gray: lighten(#b3bbbe, 25%);
$dark_gray:#636863;

//fonts

$main_font: Nevermind, Helvetica, sans-serif;