//Color palette

$orange:#c6480c;
$red:#8f211d;
$dark_red:#711e19;
$lemon_yellow: #f1cf00;
$light_gray:#7e8188;
$x_light_gray: #cad1da;
$dark_gray:#4e555c;

//fonts

$main_font:'Brown', Helvetica, sans-serif;